color-black = #111
color-white = #EDEDED

// red
color1 = rgba(174,0,28,1)

// off-white
color2 = #e5e2dc

// gold
color3 = lighten(#E2C98B,20%)

// green
color4 = #00A551

.cs-0
	background-color #ffe9c6
	background-image url(../images/background.png)
	color #333

.cs-1
	background-color color-black
	color color-white

.cs-3
	background-color color1
	color color2

.cs-4
	color color3