.section-title
	border-radius 4px
	background-size cover
	background-position center
	background-image url(../images/slideshow/3.jpg)
	color white
	text-shadow 0px 0px 12px #000, 2px 2px 12px #000

@keyframes highlight
	50%
		text-shadow 0px 0px 12px #FFF, 2px 2px 12px #000

.section-title:target
	animation highlight
	animation-duration 2s
	animation-iteration-count 1
	animation-timing-function ease-in-out
