.slideshow
	display none

@media all and (min-width: screen-sizes['sm'])
	.slideshow
		display table // to wrap contents
		width 100%
		max-width 960px
		margin auto
		overflow hidden
		position relative
		& > *
			border-radius 0 0 10px 10px
	
	// Div that maintains aspect ratio of image.
	// It would be a LOT easier to load the image in the HTML and then use it for maintaining the ratio, but then we would have to load the image even if it isn't going to be used.
	// http://stackoverflow.com/a/12121309
	// http://jsfiddle.net/5tzk3/10/
	.slideshow-overlay
		background-image url(../images/slideshow-overlay.png)
		background-size 100% 100%
		width 100%
		display block
		position relative // for z-index

		&:after
			content ''
			display block
			padding-top (306 / 960 * 100)%

	.slideshow_slide
		display block
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background-size cover
		transition opacity 1s
		opacity 1