color-black = #111
color-white = #EDEDED

// red
color1 = rgba(174,0,28,1)

// off-white
color2 = #e5e2dc

// gold
color3 = lighten(#E2C98B,20%)

// green
color4 = #00A551

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700)
@import 'ghetto-box/ghetto-box.styl'

html,
.tiles > *
	font-family 'Montserrat', arial, sans-serif

a
	text-decoration none

.text-center
	text-align center

.text-right
	text-align right

.max-w-3-4
	max-width 75%

.h-1
	height 26px

.shift-up-1-2
	transform translate(0,-50%)

.readable
	max-width 30em

.cs-0
	background-color #ffe9c6
	background-image url(../images/background.png)
	color #333

.cs-1
	background-color color-black
	color color-white

.cs-3
	background-color color1
	color color2

.cs-4
	color color3
	
.border-1
	border-top 1px solid color-black

.lg-jump-menu
	box-shadow 1px 2px 3px 1px rgba(0,0,0,0.3)
	border-style solid
	border-color color4
	border-width 0 2px
	border-radius 14px
	overflow hidden

	background-color color-black
	padding-left 2px
	padding-right 2px

.lg-jump-menu_item
	display block
	background-color shade(color1, 10%)
	color color-white
	text-shadow:
		-1px -1px 0 shade(color1, 20%),
		1px 1px 0 tint(color1, 12%);

	margin-top -1px
	box-shadow 1px 1px 2px rgba(255,191,127,.25) inset

	&:first-child
		border-radius 12px 12px 0 0
		margin-top 0

	&:last-child
		border-radius 0 0 12px 12px
	
.lg-jump-menu_link
	display block
	color #EDEDED
	padding 2px 12px

	&:hover
		background-color lighten(color1, 1%)

	&:active
		box-shadow 1px 1px 2px rgba(0,0,0,0.5) inset
		padding 3px 11px 1px 13px


.lg-jump-menu-fixed
	@media all and (min-width: screen-sizes['md'])
		position fixed
		top 0

		border-radius 0 0 14px 14px

		& > .lg-jump-menu_item:first-child
			border-radius 0

.icon-facebook
	width 38px
	height 38px
	background-image url(../images/facebook.png)

.sidebar-background
	position relative

	&:before
		content ''
		display block
		position absolute
		z-index -1
		top 0
		left 0
		width 100%
		height 100%
		background-color color-black
		box-shadow 1px 0 2px 1px rgba(0,0,0,0.3)
		@media all and (min-width: screen-sizes['md'])
			width 90% /* fallback */
			width calc(100% - 26px)
	

@keyframes highlight
	50%
		color lighten(color1,25%)

.section-title:target
	animation highlight
	animation-duration 2s
	animation-iteration-count 1
	animation-timing-function ease-in-out


.section-title
	color color1
	text-shadow:
		-1px -1px 0 shade(#ffe9c6,10%),
		1px 1px 0 shade(#ffe9c6,4%);
		
	&:before,&:after
		content '-'
		

.fx-popout
	box-shadow 0 0 1px 2px rgba(0,0,0,0.3) inset
	
.logo-link
	@media all and (min-width: screen-sizes['sm'])
		margin-bottom: line-height * -3
		position relative
		z-index 1
		
.tel-link
	color color4
	text-decoration underline